@model List<XMLExample.Models.StudentModel>
@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    table tr td {
        padding: 0 20px
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
        </tr>
        @foreach (XMLExample.Models.StudentModel student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.Surname</td>
                <td>@student.Age</td>
            </tr>
        }
    </table>
</body>
</html>
